html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: #c7d2d2;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    background: #c7d2d2;
  }
}

#header {
  background-color: #c7d2d2;
  padding-top: 20px;
}
#header h2 {
  font-size: 20px;
  font-weight: bold;
}

.hbuton {
  padding: 8px 15px;
  margin-right: 15px;
  border-radius: 50px;
  color: #fff;
  background-color: #033030;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #75fffe;
}
.hbuton:hover {
  padding: 8px 15px;
  margin-right: 15px;
  border-radius: 50px;
  color: #fff;
  background-color: #ff8383;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #75fffe;
}

.menu-bar {
  margin-left: 15px;
  border: none;
  background-color: transparent;
  color: black;
  font-size: 25px;
  font-weight: bolder;
}
@media (max-width: 768px) {
  #header .hbuton {
    display: none;
  }
}

#hero {
  padding: 5%;
  width: 100%;
  height: min-content;
  background-color: #c7d2d2;
}
.cart1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #033030;
  border-radius: 30px;
  padding: 10%;
}
.cart1 h1 {
  font-size: 40px;
  color: #75fffe;
  font-weight: bold;
}
@media (max-width: 768px) {
  .cart1 h1 {
    font-size: 35px;
    color: #75fffe;
    font-weight: bold;
  }
}
.cart1 p {
  font-size: 20px;
  color: #ffff;
  font-weight: bold;
}
.slider1 .carousel .carousel-indicators .active  {
  width: 10px;
  height: 10px;
  background-color:#ff8383;
  border: 2px solid white;
  border-radius: 100%;
  justify-content: left;
  
}
.slider1 .carousel .carousel-indicators button {
  width: 10px;
  height: 10px;
  border: 2px solid white;
  border-radius: 100%;
  margin-left: 0px;
  text-align: left;
  justify-content: left;
  
  
}
.slider1 .carousel .carousel-indicators{
  margin-left: -250px;
}

.slider1 .carousel .carousel-control-next i {
  position:absolute;
  width: 50px;
  height: 65px;
  font-size: 40px;
  color:#ffffff;
  top: 185px;
  left: -35px;

  
}
@media (max-width: 768px) {
  .slider1 .carousel .carousel-indicators{
    margin-left: -150px;
  }
  .slider1 .carousel .carousel-control-next i {

    top: 120px;
    left: -35px;
    
  }
}


.slider2 .carousel .carousel-indicators .active  {
  width: 20px;
  height: 20px;
  background-color: #033030;
  border: 2px solid white;
  border-radius: 100%;
  justify-content: left;
  
}
.slider2 .carousel .carousel-indicators button {
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 100%;
  margin-left: 0px;
  text-align: left;
  justify-content: left;
  
  
}
.slider2 .carousel .carousel-indicators{
  margin-left: -50px;
}

.slider2 h5{
  font-size: 25px;
  color: #033030;
  font-weight: 800;
  text-align: left;
  
}
.slider2 p{
  font-size: 25px;

  
}
.slider2 .container-fluid{
  padding: 5%

  
}
@media (max-width: 768px) {
  
  .slider2 h5{
    font-size: 20px;
    color: #033030;
    font-weight: 800;
    text-align: left;
    
  }
  .slider2 p{
    font-size: 17px;
    font-weight: 500;
  
    
  }
  .slider2 .container-fluid{
    padding: 5%
  
    
  }
}

.slider2 .carousel .carousel-control-next i {
  position:absolute;
  width: 50px;
  height: 65px;
  font-size: 40px;
  color:#033030;
  top: 235px;
  left: -35px;

  
}


.cart2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: #c7d2d2;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.404),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding: 10%;
}
.cart2 h2 {
  font-size: 50px;
  color: #033030;
  font-weight: bold;
}
.cart2 button {
align-self: flex-end;
}
@media (max-width: 768px) {
  .cart2 h2 {
    font-size: 30px;
    color: #033030;
    font-weight: bold;
  }
}
.cart-slider {
  width: 100%;
  height: 300px;
  background-color: #b6a9d2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 10%;

  border-radius: 30px;
}
.cart-slider img {
  width: 100%;
  height: 300px;
  position: relative;
  border-radius: 30px;
}
.cart-img img {
  width: 100%;
  height: max-content;
  position: relative;
  border-radius: 30px;
}
.cart-img::before {
  width: 100%;
  content: " ";
  border-radius: 30px;
  border: 5px solid #fff;
  position: absolute;
  background: rgba(61, 61, 61, 0.781);
  inset: 0;
  z-index: 2;
  display: grid;
  place-items: right;
  pointer-events: none;
  cursor: none;
}
.carousel-caption {
  z-index: 3;
}
.cart2 h1 {
  font-size: 20px;
  color: #75fffe;
  font-weight: bold;
}
.cart2 p {
  font-size: 10px;
  color: #ffff;
  font-weight: bold;
}
#ComoFuinciona {
  padding: 5%;
  width: 100%;
  height: min-content;
  background-color: #c7d2d2;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#ComoFuinciona h1 {
  font-size: 50px;
  color: rgba(255, 255, 255, 0.329);
  -webkit-text-stroke: 1px black;
  font-weight: bold;
  margin-bottom: 5%;
}

#ComoFuinciona p {
  width: 100%;
  color: #033030;
  font-weight: 500;
  text-align: left;
}
#ComoFuinciona span {
  color: #033030;
  background-color: white;
  border: 1px solid #033030;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-weight: 500;
  align-self: flex-end;
}
@media (max-width: 768px) {
  #ComoFuinciona h1 {
    font-size: 40px;
    color: rgba(255, 255, 255, 0.329);
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    margin-bottom: 5%;
  }
}

.cart3 {
  width: 100%;
  height: 120px;
  background-color: #033030;
  border-radius: 30px;
  padding: 10%;
}
.cart3 h2 {
  font-size: 25px;
  color: #ffff;
  font-weight: bold;
}
.cart4 {
  width: 100%;
  height: 100%;
  background-color: #c7d2d2;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.404),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding: 10%;
}
.cart4 h2 {
  font-size: 25px;
  color: #033030;
  font-weight: bold;
}
@media (max-width: 768px) {
  .cart4 h2 {
    font-size: 25px;
    color: #033030;
    font-weight: bold;
  }
}
.cart5 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 5px solid #033030;
  border-radius: 30px;
  padding: 10%;
  margin-bottom: 10px;
}

.cart5 h2 {
  width: 100%;
  font-size: 25px;
  color: #033030;
  font-weight: bolder;
  text-align: left;
}
#EmpiezaInvertir {
  padding: 5%;
  width: 100%;
  height: min-content;
  background-color: #c7d2d2;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#EmpiezaInvertir .contenedor1 {
  height: max-content;
  margin-bottom: 10%;
}
.contenido {
  animation-name: cintainformativa;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes cintainformativa {
  0% {
    transform: translate(-150%);
  }
  100% {
    transform: translate(70%);
  }
}
#EmpiezaInvertir h1 {
  font-size: 70px;
  color: rgba(255, 255, 255, 0.329);
  -webkit-text-stroke: 1px black;
  font-weight: bold;
  margin-bottom: 0;
}
@media (max-width: 768px) {
  #EmpiezaInvertir h1 {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.329);
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    margin-bottom: 0;
  }
  #EmpiezaInvertir .hbuton {
    padding: 8px 15px;
    border-radius: 50px;
    color: #fff;
    background-color: #ff8383;
    transition: 0.3s;
    font-size: 10px;
    font-weight: 600;
    border: 2px solid #75fffe;
  }
  #EmpiezaInvertir .hbuton:hover {
    padding: 8px 15px;
    border-radius: 50px;
    color: #fff;
    background-color: #033030;
    transition: 0.3s;
    font-size: 10px;
    font-weight: 600;
    border: 2px solid #75fffe;
  }
}

#EmpiezaInvertir .cart5 {
  width: 100%;
  height: min-content;
  font-size: 20px;
  background-color: #00eeff;
  color: #033030;
  font-weight: light;
  margin-bottom: 0;
  text-align: justify;
  padding: 50px;
}
#EmpiezaInvertir .hbuton {
  padding: 8px 15px;
  border-radius: 50px;
  color: #fff;
  background-color: #ff8383;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #75fffe;
}
#EmpiezaInvertir .hbuton:hover {
  padding: 8px 15px;
  border-radius: 50px;
  color: #fff;
  background-color: #033030;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #75fffe;
}
.texto h3 {
  padding: 5%;
}
.texto h3 {
  font-size: 45px;
  color: rgba(255, 255, 255, 0.329);
  -webkit-text-stroke: 1px black;
  font-weight: bold;
  margin-bottom: 5%;
}
.wrap {
  perspective: 800px;
  perspective-origin: 50% 100px;
}


.counts {
  padding: 5%;
  width: 100%;
  height: min-content;
  background-color: #c7d2d2;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.counts .container {
  height: 100%;
  border: 5px solid #033030;
  color: #033030;
  font-weight: bold;
  border-radius: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.counts .container h3 {
  color: #033030;
  font-weight: bold;
  font-size: xx-large;
  padding-bottom: 20px;
  padding-top: 10px;
}
.counts .counters {
  margin-bottom: 10px;
}

.counts .counters span {
  font-size: 48px;
  margin-bottom: 0;
  display: block;
  font-weight: bolder;
  color: #033030;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.counts .counters hr {
  margin-top: 0;
  font-size: 48px;
  font-weight: bolder;
  border: 2px solid #00eeff;
  width: 25%;
  margin-left: 38%;
}

.counts .counters p {
  padding: 0;

  margin: 0 0 20px 0;
  font-size: 15px;
  color: #033030;
}

#proyectos {
  padding: 5%;
  width: 100%;
  height: min-content;
  background-color: #c7d2d2;
  align-items: center;
  justify-content: center;
}
#proyectos h1 {
  text-align: center;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.329);
  -webkit-text-stroke: 1px black;
  font-weight: bold;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  #proyectos h1 {
    text-align: center;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.329);
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    margin-bottom: 10px;
  }
}
.carousel__item img {
  object-fit: fill;
}

#getstarted {
  padding: 5%;
  width: 100%;
  height: min-content;
  background-color: #c7d2d2;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}
video {
  top: 0;
  left: 0;
  border: 5px solid #033030;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 500;
}
.player {
  margin: 0 auto;
  margin-bottom: 0;
  max-width: 100%;
  height: 100%;
}
.playerbutton {
  background-color: #666;
  border: medium none;
  color: #fff;
  display: block;
  font-size: 18px;
  left: 0;
  margin: 0 auto;
  padding: 8px 16px;
  position: absolute;
  right: 0;
  top: 50%;
}

.video-screen {
  background: rgb(188, 188, 188);
  display: block;
  object-fit: cover;
  margin: 0 auto;
  transition: opacity 0.5s;
  width: 100%;
}

.controls {
  /*   background: rgba(0, 0, 0, 0.5); */
  border-top: 5px solid rgba(0, 0, 0, 0.02);
  border-bottom: 5px solid rgba(0, 0, 0, 0);
  display: flex;
  /*   height: 70px; */
  justify-content: space-around;
  opacity: 0;
  margin: 0;
  transition: 0.5s;
  transition-property: opacity, visibility;
  transform: translateY(-69px);
  visibility: hidden;
  width: 100%;
}

.controls * {
  z-index: 0;
  height: 1px;
  position: fixed;
  bottom: 0;
  width: 1px;
  opacity: 0;
  outline: none;
}

.play {
  align-self: center;
  height: 40px;
  margin: 0 20px;
  width: 20px;
}

.play.start {
  background: none;
  border: 20px solid transparent;
  border-right: none;
  border-left: 35px solid white;
  margin: 0;
  margin-left: 25px;
}

@media (hover: hover) {
  .controls *:hover {
    opacity: 0.9;
  }
}

@media only screen and (max-width: 900px) {
  .player {
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
  }

  .controls {
    justify-content: space-evenly;
  }

  .controls * {
    margin: 0;
    margin-left: 8px;
  }

  .controls {
    margin: 0;
  }

  .play {
    display: none;
  }
}

#preguntas {
  padding: 5%;
  width: 100%;
  height: min-content;
  background-color: #c7d2d2;
  align-items: center;
  justify-content: justify;
}
#preguntas h1 {
  text-align: center;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.329);
  -webkit-text-stroke: 1px black;
  font-weight: bold;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  #preguntas h1 {
    text-align: center;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.329);
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    margin-bottom: 30px;
  }
}
.container-preguntas {
  padding: 10%;
  width: 100%;
  height: min-content;
  border: 3px solid #033030;
  border-radius: 30px;
}
.container-preguntas hr {
  margin-top: 0;
  font-size: 48px;
  font-weight: bolder;
  border: 2px solid #033030;
  width: 100%;
}
.container-preguntas button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  background-color: transparent;
  border: none;
  height: min-content;
  color: #033030;
  font-weight: 700;
}

#contact {
  padding: 5%;
  width: 100%;
  height: min-content;
  background-color: #c7d2d2;
  align-items: center;
  justify-content: center;
}
#contact h1 {
  color: #033030;
  font-size: 40px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
}

.formulario {
  width: 100%;
  height: min-content;
  font-size: 20px;
  background-color: #00eeff;
  color: #033030;
  font-weight: light;
  margin-bottom: 0;
  text-align: justify;
  padding: 50px;
  border-radius: 30px;
}
#contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  background: #fff;
}

#contact .info-box i {
  font-size: 32px;
  color: #5846f9;
  border-radius: 50%;
  padding: 8px;
}

#contact .info-box h3 {
  font-size: 20px;
  color: #2c4964;
  font-weight: 700;
  margin: 10px 0;
}

#contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

#contact .php-email-form {
  padding: 30px;
  background: transparent;
}

#contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

#contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#contact .php-email-form input,
#contact .php-email-form textarea {
  width: 100%;
  border-radius: 30px;
  box-shadow: none;
  font-size: 14px;
}

#contact .php-email-form input:focus,
#contact .php-email-form textarea:focus {
  border-color: #033030;
}

#contact .php-email-form input {
  padding: 10px 15px;
}

#contact .php-email-form input::placeholder {
  font-weight: 800;

  color: #033030;
}

#contact .php-email-form textarea {
  padding: 12px 15px;
}
#contact .php-email-form textarea::placeholder {
  font-weight: 800;

  color: #033030;
}

#contact .php-email-form button[type="submit"] {
  padding: 8px 15px;
  border-radius: 50px;
  color: #fff;
  background: #033030;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #75fffe;
}

#contact .php-email-form button[type="submit"]:hover {
  background-color: #ff8383;
}
/*---------------MARKET------------------*/
#market {
  width: 100%;
  height: max-content;
  background-color: #c7d2d2;
  margin-left:20px ;
  margin-right:20px ;

}
#market .img {
  width: 100%;
  height: min-content;
}
.filtros .dropdown button{
  width: 100%;
  margin-bottom: 5px;
  background: transparent;
  border: 1px solid #00eeff;
  border-radius: 30px;

}
.filtros .dropdown button:focus{
  background: transparent;
  border: 1px solid #00eeff;
  border-radius: 30px;

}
.filtros .input-group{
  background: transparent;
  border: 1px solid #00eeff;
  border-radius: 30px;

}
.filtros .input-group .input-group-prepend .input-group-text{
  background: transparent;
  border: none;
  color: white;

}
.filtros .input-group input{
  background: transparent;
  border: none;
  color: white;

}
.filtros .input-group input:focus{
  border-radius: 30px;

}
.filtros .input-group input::placeholder{
  color: white;

}
.container-market{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 700px;
  background-color: #c7d2d2;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.404),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding: 30px;

}
.container-img{
  overflow: hidden;
  overflow-y: scroll;


}
.container-img::-webkit-scrollbar{
  width: 15px;
  transform: scale(0.5);
  border-radius: 50px;
  border: 2px solid #444444;
  background-color: transparent;


}
.container-img::-webkit-scrollbar-thumb{
  width: 5px;
  height: 10%;
  border-radius: 50px;
  border: 2px solid #00eeff;
  background-color: #033030;


}
.container-settings{
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 700px;
  background-color: #c7d2d2;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.404),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  padding: 30px;

}
.perfil-container{
  overflow: hidden;
  overflow-y: scroll;

}

.perfil-container::-webkit-scrollbar{
  width: 15px;
  transform: scale(0.5);
  border-radius: 50px;
  border: 2px solid #444444;
  background-color: transparent;


}
.perfil-container::-webkit-scrollbar-thumb{
  width: 5px;
  height: 10%;
  border-radius: 50px;
  border: 2px solid #00eeff;
  background-color: #033030;


}

#footer{
  width: 100%;
  height: 140px;
  background-color: #c7d2d2;
  color: white;
  font-weight: bold;
  font-size: large;
}
.fbutton{
  border: 2px solid #00eeff;
  background: transparent;
  border-radius: 30px;
  padding: 10px;
  box-shadow: inset 0 0 0 1px #00eeff,
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.fbutton i{
  color: #00eeff;
}

.default-container{
  width: 100%;
  height: 500px;
  max-height: 700px;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  overflow-y: scroll;
}

.perfil-container h2{
  color: #00eeff;
}
.whitelist-container{
  padding: 5px;
  overflow: hidden;
  overflow-y: scroll;
}

.whitelist-container::-webkit-scrollbar{
  width: 15px;
  border-radius: 50px;
  border: 2px solid #444444;
  background-color: transparent;


}
.whitelist-container::-webkit-scrollbar-thumb{
  width: 5px;
  height: 10%;
  border-radius: 50px;
  border: 2px solid #00eeff;
  background-color: #033030;


}
.whitelist-container h2{
  font-size: x-large;
  color: #00eeff;
}
.whitelist-container P{
  text-align: center;
  color: #ffffff;
  font-weight: bold;
}
.whitelist-container .row-container1{
  background-color: #d9d9d9b9;
  display: flex;
  text-align: center;
}
.whitelist-container .row-container1 p{
  color: #585858b9;
}
.whitelist-container .row-container2{
  background-color: #d9d9d94d;
}
.whitelist-container .row-container2 p{
  color: #585858b9;
}
.whitelist-container .success {
  color: #ffff;
  display: flex;
  justify-content: center;
}
.whitelist-container .success p{
  color: #ffff;
  width: min-content;
  background-color: #82b45b;
  border-radius: 30px;
  padding: 0 10px 0 10px;
}
.whitelist-container  .fail {
  color: #ffff;
  display: flex;
  justify-content: center;
}
.whitelist-container  .fail p{
  color: #ffff;
  width: min-content;
  background-color: #b45b5b;
  border-radius: 30px;
  padding: 0 10px 0 10px;
}
.edit-perfil{
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.container-settings .navbar {
  border-bottom: solid #00eeff;

}
.container-settings .navbar .navbar-nav a{
  color: white;
  font-weight: bold;
  

}
.edit-form{
  padding: 5;
  text-align: justify;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:flex-start;
  color: white;

}
.edit-form input{
  background: transparent;
  border: 1px solid #00eeff;
  border-radius: 30px;
  padding: 0;

}
.edit-form label{
  font-size: small;
  padding: 0;
  text-align: center;
  justify-content: center;
  width: 100%;

}
.edit-form input::placeholder{
color: white;

}

.edit-form input[type="radio"]{
  background: #00eeff;
  border: 1px solid #00eeff;
  border-radius: 30px;
  margin-right: 5px;
  margin-left: 0;
}
.edit-form button{
  margin: 0;
  width: 100%;
  padding: 8px 15px;
  border-radius: 50px;
  color: #fff;
  background: #033030;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 600;
  border: 2px solid #75fffe;

}
.guardar{
  width: 100%;

}
.default-container h2{
  color: #00eeff;
  border:1px solid #00eeff;
  padding: 20% 3% 20% 3%;
  border-radius: 50%
}
.default-container{
  overflow: hidden;
  overflow-y: scroll;


}
.default-container::-webkit-scrollbar{
  width: 15px;
  transform: scale(0.5);
  border-radius: 50px;
  border: 2px solid #444444;
  background-color: transparent;


}
.default-container::-webkit-scrollbar-thumb{
  width: 5px;
  height: 10%;
  border-radius: 50px;
  border: 2px solid #00eeff;
  background-color: #033030;


}
/*------sidebar-------------*/
.container-section{
  background-color: #c7d2d2;
  height: fit-content;
  padding: 10px;


}
#sidebar-container{
  max-height: 700px;
  border-radius: 50px;
  background-color:#033030;
}
#sidebar-container .menu{
  width: 6rem;
  height: 100%;
  padding: 20px;
  text-align: center;
  font-size: x-large;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width:1024px){
  .filtros .dropdown button {

    font-size: x-small;
  
  }
  .filtros .input-group input{
    font-size: x-small;
    color: white;
  
  }
  .filtros .input-group input::placeholder{
    font-size: x-small;
    color: white;
  
  }
  .filtros .input-group .input-group-prepend .input-group-text{
    background: transparent;
    font-size: x-small;
    border: none;
    color: white;
  
  }
}
@media (max-width: 768px) {
  #sidebar-container .menu{
    width: 7px;
    height: 100%;
    text-align: justify;
    font-size: large;
    padding-left: 0;
    padding-right: 30px;
  }
  #market {
    width: 80%;
    height: max-content;
    background-color: #c7d2d2;
    padding: 10px;
    margin-left:20px ;
    margin-right:20px ;
  
  }
  .default-container h2{
    font-size: large;
    color: #00eeff;
    border:1px solid #00eeff;
    padding: 50% 3% 50% 3%;
    border-radius: 50%
  }
  .whitelist-container P{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 10px;
  }
  .perfil-container h2{
    font-size: larger;
    color: #00eeff;
  }
  
}
#sidebar-container .menu a{
  color: white;
  cursor: pointer;
}

#sidebar-container ul li a {
  display:block;
  text-align: center;
 }
